p.serif {
    font-family: "Times New Roman", Times, serif;
}
p {
    color: rgb(148,254,194);
}
p {
    font-size: 150%;
}

h1 {
    color: rgb(148, 254, 194);
}
body {
    background-color: rgb(5,80,178);
}
h1 {
    font-size: 250%;
